{{ define "create" }}
{{ template "header" }}
<div id="create" class="form-group">
    <table>
        <tbody>
            <form  action="newUser" method="post">

                <tr>
                    <td><label>Фамилия клиента</label></td>
                    <td><input type="text" required="required" placeholder="Фамилия" maxlength="10" name="UserFirstName" id="UserFirstName">
                    </td>
                </tr>
                <tr>
                    <td><label>Имя клиента</label></td>
                    <td><input type="text" required="required" placeholder="Имя" maxlength="10" name="UserLastName" id="UserLastName">
                    </td>
                </tr>
                <tr>
                    <td><label>Отчество клиента</label></td>
                    <td><input type="text" required="required" placeholder="Отчество" maxlength="10" name="UserMidlName" id="UserMidlName">
                    </td>
                </tr>

                <tr>
                    <td><label>Номер телефона</label></td>
                    <td><input type="text" required="required" placeholder="Телефон" maxlength="11" name="PhoneNombe" id="PhoneNombe">
                    </td>
                </tr>
                <tr>
                    <td><label>Типа аппарата</label></td>
                    <td><input type="text" required="required" placeholder="Тип аппарата" name="TypeEquipment" id="TypeEquipment"></td>
                </tr>
                <tr>
                    <td><label>Фирма</label></td>
                    <td><input type="text" required="required" placeholder="Фирма" name="Brand" id="Brand"></td>
                </tr>
                <tr>
                    <td><label>Модель</label></td>
                    <td><input type="text" required="required" placeholder="Модель" name="Model" id="Model"></td>
                </tr>
                <tr>
                    <td><label>Серийный номер</label></td>
                    <td><input type="text" required="required" placeholder="Серийный номер" name="SN" id="SN"></td>
                </tr>
                <tr>
                    <td><label>Состояние ремонта</label></td>
                    <td><input type="text" required="required" placeholder="Состояние ремонта" name="SN" id="SN" Value="Принято" label="2" disabled></td>
                </tr>
                <tr>
                    <td><label>выберете мастера</label></td>
                                    
                    <td><select name="Id" >
                        <option value="">Выберите мастера
                        {{ range . }}
                        <option value="{{ .Id }}" label="{{ .L_name }}">
                        {{ end }}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="reset">сброс</button><button type="submit">сохранить</button></td>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
</div><br><br><br>
{{ template "footer" }}

{{ end }}