{{ define "makeChanges" }}
{{ template "header" }}
<table>
    <tbody>
        <li class="nav-item"><a class="nav-link" href="/makeChangesParts/{{.IdOrder}}">Запчасти</a></li>
        <form action="" method="get">
            <tr>
                <td><label>Номер квитанции</label></td>
                <td><input type="text" placeholder="Квитанция" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.IdOrder}}" ></td>
            </tr>
            <tr>
                <td><label>Фамилия клиента</label></td>
                <td><input type="text" placeholder="Фамилия" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.FirstName}}"></td>
            </tr>
            <tr>
                <td><label>Имя клиента</label></td>
                <td><input type="text" placeholder="Имя" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.LastName}}"></td>
            </tr>

            <tr>
                <td><label>Отчество</label></td>
                <td><input type="text" placeholder="Отчество" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.MidlName}}"></td>
            </tr>
            <tr>
                <td><label>Номер телефона</label></td>
                <td><input type="text" placeholder="Телефон" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.Phone}}"></td>
            </tr>
            <tr>
                <td><label>Аппарат</label></td>
                <td><input type="text" placeholder="аппарат" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.TypeEquipment}}"></td>
            </tr>
            <tr>
                <td><label>Фирма</label></td>
                <td><input type="text" placeholder="Фирма" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.Brand}}"></td>
            </tr>
            <tr>
                <td><label>Модель</label></td>
                <td><input type="text" placeholder="Модель" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.Model}}"></td>
            </tr>
            <tr>
                <td><label> Серийный номер</label></td>
                <td><input type="text" placeholder="Серийный номер" maxlength="10" name="UserFirstName"
                        id="UserFirstName" value="{{.Sn}}"></td>
            </tr>
            <tr>
                <td><label>Назначенный мастер</label></td>
                <td><input type="text" placeholder="Мастер" maxlength="10" name="UserFirstName" id="UserFirstName"
                        value="{{.Masters.L_name}}"></td>
            </tr>
            <tr>
                <td><label>Статус ремонта</label></td>
                <td><input type="text" placeholder="статус" maxlength="10" name="StatusOrder" id="StatusOrder"
                        value="{{.StatusOrder}}"></td>
            </tr>
        </form>
    </tbody>
</table>

{{ template "footer" }}

{{ end }}