{{ define "makechangesparts" }}
{{ template "header" }}



<form action="savePartsOrder" method="post">
    <table>
        <tbody>
            <tr>
                <td><input type="text" name="id" id="id" value="{{.IdOrder}}"></td>
            </tr>
            {{ range .OllParts }}
            <tr>
                <td>
                    <input class="form-check-input" type="checkbox" value="{{ .Id }}" id="flexCheckDefault"
                        name="hgfhg">
                    <label class="form-check-label" for="flexCheckDefault">{{ .PartsName }}</label>
                </td>
            </tr>
            <td>{{ .PartsPrice }}</td>
            {{ end }}
            <tr>
                <div class="btn-group">
                    <td><button class="btn" type="reset">сброс</button></td>
                    <td><button class="btn" type="submit">сохранить</button></td>
                </div>
            </tr>
        </tbody>
    </table>
</form>

{{ template "footer" }}

{{ end }}