{{ define "userStatus" }}
{{ template "header" }}
<div id="create">
    <table>
        <tbody>
            <table>
                <tbody>
                    <form action="userStatus" method="get">

                        <tr>
                            <td><label>Введите номер квитанции</label></td>
                            <td><input type="text" placeholder="номер квитанции" name="id" id="id"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="reset">сброс</button><button type="submit">отправить</button></td>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
</div><br><br><br>
<div>
    <table>
        <tbody>
            <form action="" method="get">
                <tr>
                    <td><label>Фамилия клиента</label></td>
                    <td><input type="text" placeholder="Фамилия" maxlength="10" name="UserFirstName" id="UserFirstName" value="{{.FirstName}}"></td>
                </tr>
                <tr>
                    <td><label>Имя клиента</label></td>
                    <td><input type="text" placeholder="Имя" maxlength="10" name="UserFirstName" id="UserFirstName" value="{{.LastName}}"></td>
                </tr>

                <tr>
                    <td><label>Отчество</label></td>
                    <td><input type="text" placeholder="Отчество" maxlength="10" name="UserFirstName" id="UserFirstName" value="{{.MidlName}}"></td>
                </tr>
                <tr>
                    <td><label>Номер телефона</label></td>
                    <td><input type="text" placeholder="Телефон" maxlength="10" name="UserFirstName" id="UserFirstName" value="{{.Phone}}"></td>
                </tr>
                <tr>
                    <td><label>аппарат</label></td>
                    <td><input type="text" placeholder="аппарат" maxlength="10" name="UserFirstName" id="UserFirstName" value="{{.Model}}"></td>
                </tr>
                          </form>
        </tbody>
    </table>


</div>
{{ template "footer" }}

{{ end }}