{{ define "makeChangesOrder" }}
{{ template "header" }}
<table>
    <tbody>
        <form action="" method="post">

            <tr>
                <td><label>Введите номер квитанции</label></td>
                <td><input type="text" placeholder="номер квитанции" name="id" id="id"></td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td><button type="reset">сброс</button><button type="submit">отправить</button></td>

            </tr>
        </form>
    </tbody>
</table>

{{ template "footer" }}

{{ end }}