{{ define "parts" }}
{{ template "header" }}

    <div class="container">
        <div class="row row-cols-auto">
            <div class="col">
                <table>
                    <tbody>
                        <form onsubmit="return NewPart(this)" method="post">
                        <tr>
                            <th colspan="2" style="text-align: center;"><label>Добавить новую деталь</label></th>
                        </tr>
                        <tr>
                            <td><label>Название детали</label></td>
                            <td><input type="text" required="required" placeholder="Название детали" maxlength="10"
                                    name="NewPartsName" id="NewPartsName">
                            </td>
                        </tr>
                        <tr>
                            <td><label>Цена детали</label></td>
                            <td><input type="text" required="required" placeholder="Цена" maxlength="10"
                                    name="NewPartsPrice" id="NewPartsPrice">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-primary" type="submit">сохранить</button></td>
                        </tr>
                        </form>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">Запчасти</th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Цена</th>
                        </tr>
                    </thead>
                    <tbody id="parts">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<form onsubmit="return saveCangePart(this)" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <table id="changePart"></table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Закрыть</button>
          <button class="btn btn-primary btn-sm" type="submit" data-bs-dismiss="modal">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="/static/js/part.js"> </script>
{{ template "footer" }}

{{ end }}