{{ define "parts" }}
{{ template "header" }}
<form action="newParts" method="post">
    <div class="container">
        <div class="row row-cols-auto">
            <div class="col">
                <table>
                    <tbody>
                        <tr>
                            <th colspan="2" style="text-align: center;"><label>Добавить новую деталь</label></th>
                        </tr>
                        <tr>
                            <td><label>Название детали</label></td>
                            <td><input type="text" required="required" placeholder="Название детали" maxlength="10"
                                    name="partsName" id="partsName">
                            </td>
                        </tr>
                        <tr>
                            <td><label>Цена детали</label></td>
                            <td><input type="text" required="required" placeholder="Цена" maxlength="10"
                                    name="partsPrice" id="partsPrice">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-primary" type="submit">сохранить</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center;">Запчасти</th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .OllParts }}
                        <tr>
                            <td><label>{{ .Id }}</label></td>
                            <td><label>{{ .PartsName }}</label></td>
                            <td><label>{{ .PartsPrice }}</label></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
{{ template "footer" }}

{{ end }}